<!DOCTYPE html>
<html>
    <head>
        <title>Space</title>
        <link rel='stylesheet' href='/css/main.css' />
        <script>window.JS_ENV='development';</script>
        <script data-main="js/app.js" src="js/lib/require.js"></script>
    </head>
    <body>
        <div class="gamepreloader" id="gamepreloader"><img class="gamepreloader-img" src="/img/preloader.gif" /></div>
        <div class="gamewrap" id="gamewrap"></div>
    </body>
</html>