<!DOCTYPE html>
<html>
    <head>
        <title>Space</title>
        <link rel='stylesheet' href='/css/main.css' />
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/p2.js"></script>
        <script src="/js/physics.js"></script>
        <script src="/js/body.js"></script>
        <script src="/js/phaser.js"></script>
        <script src="/js/asteroid.js"></script>
        <script src="/js/ship.js"></script>
        <script src="/js/main.js"></script>
    </head>
    <body>
        <div class="gamewrap" id="gamewrap"></div>
        <div class="gamehelp">
            <ul>Keys:
                <li>Up, W - thrust</li>
                <li>Down, S - reverse</li>
                <li>Left, A - left</li>
                <li>Right, D - right</li>
                <li>Q - strafe left</li>
                <li>E - strafe right</li>
                <li>Ctrl - disable auto breaking</li>
            </ul>
        </div>
    </body>
</html>
