<!DOCTYPE html>
<html>
    <head>
        <title>Space</title>
        <link rel='stylesheet' href='/css/main.css' />
        <script data-main="js/app.js" src="js/lib/require.js"></script>
    </head>
    <body>
        <div class="gamewrap" id="gamewrap"></div>
    </body>
</html>