html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #d5d5d5;
}

.gamewrap {
    width: 100%;
    height: 100%;
}