body {
    margin: 0;
    padding: 0;
    background: #d5d5d5;
}

.gamewrap {
    width: 800px;
    margin: 0 auto;
}

.gamehelp {
    position: absolute;
    top: 10px;
    left: 15px;
}